<div id="inventory" class="inventory">
    <form id="itemsForm" action="{{ path('inventory') }}">
        <button type="submit" name="key" value="key" id="itemKey" class="gameItem">🔑</button>
        <label type="hidden" for="itemKey"></label>
        
        <button type="submit" name="cup" value="cup" id="itemCup" class="gameItem">🧃</button>
        <label typ="hidden" for="itemCup"></label>
    </form>
</div>