{% extends "proj/index.html.twig" %}

{% block body %}

  <h3 class="roomName">{{ room.name }}</h3>

  <div class="roomView">
    <img src="{{ asset('img/game_graphics/' ~ room.graphics[0].background) }}" class="roomImage" alt="{{ room.name }}" usemap="#roomThreeMap">
    <map name="roomThreeMap">
      <area 
        shape="rect"
        coords="420,437,475,149"
        onclick="clickedItem('room_three', 'forklift')"
        style="cursor: pointer;"
        title="A yellow forklift">
      <area 
        shape="rect"
        coords="420,437,475,149"
        onclick="clickedItem('room_three', 'radio')"
        style="cursor: pointer;"
        title="Radio">
      <area 
        shape="rect"
        coords="420,437,475,149"
        onclick="clickedItem('room_three', 'door')"
        style="cursor: pointer;"
        title="door">
    </map>
  </div>

  <h4 class="roomExplanation">{{ room.info }}</h4>

{% endblock %}
