{% extends "proj/index.html.twig" %}

{% block body %}
  <h3 class="roomName">{{ room.name }}</h3>

  <div class="roomView">
    <img src="{{ asset('img/game_graphics/' ~ room.graphics[0].background) }}" class="roomImage" alt="{{ room.name }}" usemap="#roomOneMap">
    <map name="roomOneMap">
      <area 
        shape="rect"
        coords="470,137,525,287"
        onclick="clickedItem('room_one', 'key')"
        style="cursor: pointer;"
        title="Janitor's coat">
      <area 
        shape="rect"
        coords="660,443,765,349"
        onclick="clickedItem('room_one', 'wire')"
        style="cursor: pointer; background: red; opacity: 0.5;"
        title="Bin">
      <area 
        shape="rect"
        coords="250,393,355,249"
        onclick="clickedItem('room_one', 'box')"
        style="cursor: pointer; background: red; opacity: 0.5;"
        title="Beverage box">
      <area 
        shape="rect"
        coords="600,387,655,99"
        onclick="objectInteraction('room_one', 'door_one')"
        style="cursor: pointer;"
        title="Door">
    </map>
  </div>

  <h4 id="infoDisplay" class="roomExplanation">{{ room.info }}</h4>

{% endblock %}
