{% extends "proj.html.twig" %}

{% block body %}

  <div id="roomOne" class="roomView">
    
    <h2>You entered room 1</h2>
    <article>
      Room image here!
    </article>
    
  </div>

{% endblock %}
