{% extends "proj/index.html.twig" %}

{% block body %}
  <h3 class="roomName">{{ room.name }}</h3>

  <div class="roomView">
    <img src="{{ asset('img/game_graphics/' ~ room.graphics[0].background) }}" class="roomImage" alt="{{ room.name }}" usemap="#roomOneMap">
    <map name="roomOneMap">
      <area 
        shape="rect"
        coords="420,437,475,149"
        onclick="clickedItem('room_one', 'key')"
        style="cursor: pointer;"
        title="Janitor's coat">
      <area 
        shape="rect"
        coords="700,593,805,449"
        onclick="clickedItem('room_one', 'wire')"
        style="cursor: pointer; background: red; opacity: 0.5;"
        title="Bin">
    </map>
  </div>

  <h4 id="infoDisplay" class="roomExplanation">{{ room.info }}</h4>

{% endblock %}
