{% extends "proj.html.twig" %}

  {% block body %}
    <div id="roomThree" class="roomView">
      <h2>You entered room 3</h2>
      
      <article>
      </article>
    </div>
  {% endblock %}

{% endblock %}

