{% extends "proj/index.html.twig" %}

{% block body %}

  <div class="roomView">
    <h3 class="roomName">{{ room.name }}</h3>
    <h4 class="roomExplanation">{{ room.info }}</h4>
    <img src="{{ room.graphics[0].background }}" class="roomImage"> alt="{{ room.name }}">
  </div>

{% endblock %}
