{% extends "proj.html.twig" %}

  {% block body %}
    <div id="roomTwo" class="roomView">
      <h2>You entered room 2</h2>
      <article>
        Room 2 picture here!
      </article>
    </div>
  {% endblock %}

{% endblock %}

