{% extends "proj/index.html.twig" %}

{% block body %}

  <h3 class="roomName">{{ room.name }}</h3>

  <div class="roomView">
    <img src="{{ asset('img/game_graphics/' ~ room.graphics[0].background) }}" class="roomImage" alt="{{ room.name }}" usemap="#roomThreeMap">
    <map name="roomThreeMap">
      <area 
        shape="rect"
        coords="220,437,320,337"
        onclick="clickedItem('room_three', 'forklift')"
        style="cursor: pointer;"
        title="A yellow forklift"
        background-color="red">
      <area 
        shape="rect"
        coords="470,437,525,293"
        onclick="clickedItem('room_three', 'emergency_exit')"
        style="cursor: pointer;"
        title="An exit">
      <area 
        shape="rect"
        coords="720,587,775,451"
        onclick="clickedItem('room_three', 'radio')"
        style="cursor: pointer;"
        title="Radio">
      <area 
        shape="rect"
        coords="320,437,420,337"
        onclick="clickedItem('room_three', 'x')"
        style="cursor: pointer;"
        title="X">
    </map>
  </div>

  <h4 id="infoDisplay" class="roomExplanation">{{ room.info }}</h4>

{% endblock %}
