{% extends "proj/index.html.twig" %}

{% block body %}
    <h1 class="roomName">Project Adventure Game</h1>

      <div class="roomExplanation">
        {{ info }}
      </div>
      
      <div class="roomExplanation">
        {{ rules }}
      </div>

      <button id="startButton" class="startButton" onclick="window.location.href='{{ path('room_one') }}'">Let's go!</button>
{% endblock %}
