{% extends "base.html.twig" %}

{% block title %}TwentyOne{% endblock %}

{% block body %}
    <div class="twentyOneViewer">
        {{ rules|raw }}
        <div id="cardGameFormContainer" class="cardGameFormContainer">
            <form id="cardGameMenuForm" class="cardGameMenuForm">
                {{ difficulty|raw }}
                {{ players|raw }}
            </form>
            {{ button|raw }}
        </div>
    </div>
{% endblock %}
