{% extends "base.html.twig" %}

{% block title %}Cardgame documentation{% endblock %}

{% block body %}
    <div class="documentationView">
        <article class="documentationArticle">
            <h2>TjugoEtt</h2>
                <h3>Spelregler</h4>
                    TWIG
                <h3>Funktionalitetsbehov</h3>
                    TWIG
                <h3>Pseudokod</h3>
                    <code>pseudokod här</code>
                <p style="text-indent: 2em;">init session, save, load, destroy session</p><br>

                <h3>Flödesschema</h3>
                    <span><img class="homePic" src="{{ asset('build/images/kmom03flowchart.svg') }}" alt="Flowchart"></img><span>
                
                <div id=code class="docuCode">
                <h3>Kodstruktur</h3>
                    <code>
                        <section>
                            game = new Game();<br>
                            sessionHandler(game);<br>
                            game.selectRuleSet();<br>
                            sessionHandler(game);<br>
                            game.selectRuleSet();<br>
                            game.selectDifficulty();<br>
                            game.addPlayer();<br>
                            game.bankRotator();<br>
                            game.startGame();<br>
                        </section>
                        <br>
                        <section>
                            WHILE (game.bank.status !== "happy" && game.player[x].status !== happy AND canDraw IS TRUE)<br>
                            <p style="text-indent: 2em;">game.setStake();</p>
                            <p style="text-indent: 2em;">game.turn(); (++);</p>
                            <p style="text-indent: 2em;">game.playerMove();</p>
                            <p style="text-indent: 2em;">game.bank.hand.is21();</p>
                            <p style="text-indent: 2em;">game.player.hand.is21();</p>
                            <br>
                            <p style="text-indent: 2em;">IF !is21() THEN check for specialCase</p>
                                <p style="text-indent: 3em;">game.bank.specialCase()</p>
                                <p style="text-indent: 3em;">game.player.specialCase();</p>
                            <br>
                            <p style="text-indent: 2em;">IF no specialCase THEN check for happy</p>
                                <p style="text-indent: 3em;">game.playerHappy()()</p>
                                <p style="text-indent: 3em;">game.bankHappy()</p>
                            <br>
                            <p style="text-indent: 2em;">IF player happy</p>
                                <p style="text-indent: 3em;">game.bank.bankDraw()</p>
                                <p style="text-indent: 3em;">game.compareHands(game.bank, game.player)</p>
                            <p style="text-indent: 2em;">IF bank happy</p>
                                <p style="text-indent: 3em;">game.compareHands(game.bank, game.player)</p>
                            
                            <p>game.compareHands(game.bank, game.player);</p>
                        </section>
                        <br>
                        <section>
                            game.payUp();<br>
                            destroySession();<br>
                        </section>
                    </code>
                    <div>
        </article>
    </div>
{% endblock %}