{% extends "base.html.twig" %}

{% block body %}
    <div class="cardView">
        <h1>Draw a card</h1>

        <p>You drew: </p>

        <ul>
            <li>{{ card }}</li>
        </ul>
    </div>
    
{% endblock %}
