{% extends "base.html.twig" %}

{% block body %}
    <div class="cardView">
        <h1>Deal a hand</h1>

        <p>Here is a card</p>

        <ul>
            <li>{{ card }}</li>
        </ul>
    </div>
    
{% endblock %}
