* {
    border: 0px;
    color: black;
    line-height: 1.5rem;
}

body {
    margin: 0 auto;
    max-width: 800px;
    background-color: white;
    background-size: cover;
    border: 2px solid black;
}

h1 {
    border-bottom: 4px double #ccc;
}

a {
    justify-content: center;
    align-items: center;
    display: inline-flex;   
}

h3 {
    margin: 0px;
}

/* BASE */
.site-header {
    border: 1px;
    height: 200px;
    background-image: url('../images/bwlunarsurface.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.nav {
    display: flex;
    flex-direction: row;
    border: 0px;
    list-style-type: none;
    color: white !important;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: black;
    width: 97,5%;
    padding: 1px;
}

.nav a {
    color: white !important;
    font-size: x-large;
}

.footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    color: white;
    height: 20%;
    width: 100%;
}

.footer p {
    padding: 1rem;
    align-items: center;
    justify-content: left;
    color: white;
}

/* HOME */
.homeView {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.homePic {
    order: 1;
    height: 40%;
    width: 40%;
}

.homeArticle {
    order: 2;
    margin: 1rem;
    height: 40%;
    width: 30%;
}

/* ABOUT */
.aboutView {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.aboutPic {
    order: 2;
    height: auto;
    width: 30%;
}

.aboutArticle {
    order: 1;
    margin: 1rem;
    height: 40%;
    width: 30%;
}

/* REPORT */
.reportView {
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: 1em;
    background-image: url('../images/bwtreasure.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
    margin: 1rem;
}

.reportArticle {
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.reportBtn {
    height: 75px;
    width: 150px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-justify: center;
}

.specificView {
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 1em;
}

.hashView {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    gap: 1em;
    background-color: white;
    border: 2rem solid black;
    padding: 1rem;
}

/* AUSPICIOUS */
.luckyView {
    height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bwpulse.gif');
    background-position: center;
    background-repeat: no-repeat;
}

.luckyArticle {
    height: 15%;
    width: auto;
    justify-content: center;
    align-items: center;
}

.archiveHeadline {
    font-size: 3rem;
    font-weight: 900;
    background-color: white;
    width: 50%;
    height: 20%;
    border: 0.5rem double black; 
    padding: 1rem;
    text-align: center;
    margin: 1rem;
}

/* CARDGAME */
.cardLanding {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    background-color: white;
    border: 2rem solid black;
    padding: 1rem;
}

.cardHome {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    background-color: white;
    border: 2rem solid black;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
}

.cardView {
    height: auto;
    width: auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border: 0.5rem solid black;
    font-size: 5rem;
    margin: 0.5rem;
    line-height: 6rem;
}

.cardView .graphics {
    font-size: 32px;
}

.specView {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border: 0.5rem solid black;
    font-size: 5rem;
    margin: 0.5rem;
    line-height: 6rem;
}

.specView .graphics {
    font-size: 32px;
}

.UMLView {
    height: auto;
    width: 100%;
    background-image: url('../images/kmom02UML.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}

/* SESSION */
.sessionData {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: white;
    border: 0.5rem solid black;
    font-size: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    line-height: 3rem;
}

/* TWENTYONE CARDGAME */
.twentyOneViewer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.rules {
    justify-content: center;
    align-items: left;
    padding: 1rem;
    background-color: white;
    border: 1rem solid black;
    height: auto;
    width: auto;
}

.cardGameFormContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    border: 1rem solid black;
    height: auto;
    width: auto;
    gap: 1rem;
}

.cardgameMenuForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 1rem;
}

select {
    height: 5vh;
    width: 30vh;
    border: 1px solid black;
    border-radius: 5px;
}

input {
    height: 5vh;
    width: 30vh;
    border: 1px solid black;
    border-radius: 5px;
}

.cardGameButton {
    display: flex;
    justify-self: right;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    color: white;
    height: 15rem;
    width: 50%;
}

.cardGameButton:hover {
    background-color: white;
    color: green;
    font-weight: bold;
    border: 1px solid black;
    padding: 1rem;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: white;
    border: 1rem solid black;
    height: auto;
    width: auto;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.cardSize {
    font-size: 8rem;
}

.gameView {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.bankView .cardSize {
    order: 1;
    background-color: white;
    border: 1rem solid black;
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerView .cardSize {
    order: 2;
    background-color: white;
    border: 1rem solid black;
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoView {
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 1rem solid black;
    height: auto;
    width: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.selectForm {   
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: 1rem ridge black;
    padding: 1rem;
    border-radius: 10px;
}

.playerButton {
    display: flex;
    justify-self: right;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 5px;
    color: white;
    height: 5rem;
    width: 10rem;
}

.playerButton:hover {
    background-color: white;
    color: green;
    font-weight: bold;
    border: 1px solid black;
    padding: 1rem;
}

/* ----- DOCUMENTATION PAGE ------ */

.documentationView {
    height: auto;
    width: 85vh;
    padding: 1rem;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
}

.documentationArticle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 2rem;
    gap: 1rem;
    height: auto;
    width: 100%;
}

span {
    width: 100%;
}

.docuHeader {
    background-color: black;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0.5rem;
}

.docuCode {
    background: black;
    color: white !important;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: left;
    align-items: left;
    height: auto;
    width: auto;
    padding: 2 rem;
    margin-bottom: 1 rem;
}

.altered {
    background: black;
    color: white;
    padding: 2 rem;
}

.alterhead {
    background: white;
    color: black;
}

.flowChartThumb svg {
    width: 300px;
    height: auto;
    transform: translate(-50px, -30px);
  }

.flowChartThumb {
    height: 100px;
    width: 200px;
    overflow: hidden;
    cursor: pointer;
}

.pseudoCode {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: left;
    align-items: left;
    height: auto;
    width: 100% - 1px;
    padding: 2rem;
    margin-bottom: 1 rem;
    border: 1px solid black;
}

svg {
    width: 100vw;       /* Full viewport width */
    height: 100vh;      /* Full viewport height */
    object-fit: cover;  /* Ensures the SVG covers the area */
    overflow: hidden;   /* Crops any content outside of the SVG container */
}

/* API PAGE */
.apiLanding {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    background-color: white;
    border: 2rem solid black;
    padding: 1rem;
}

.cardHome {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    background-color: white;
    border: 2rem solid black;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
}

/* ----- LIBRARY PAGE ------ */

.libraryViewer {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    background-color: white;
    border: 2rem solid black;
    padding: 1rem;
}

.libraryHeadline {
    padding: 1rem;
    margin: 1rem;
    height: 10%;
    width: auto;
    background-color: black;
    color: white;
}

.libraryExplanation {
    height: 20%;
    width: auto;
    font-size: larger;
    padding: 1rem;
    margin: 1rem;
}

.libraryMenu {
    height: auto;
    width: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.libraryButton {
    height: 10%;
    width: 50%;
    background-color: black;
    padding: 1rem;
    margin: 0.5rem;
    border: 0.5rem ridge black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.libraryButton2 {
    height: 10%;
    width: auto;
    background-color: black;
    padding: 1rem;
    margin: 0.5rem;
    border: 0.5rem ridge black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Form */
.libraryForm {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.libraryFormOrganizer {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Table */
table {
    width: 95%;
    border-collapse: collapse;
    font-size: 1rem;
    align-self: center;
    margin-bottom: 1rem;
}

th, td {
    padding: 1rem;
    border: 0.2rem solid black;
    text-align: left;
    vertical-align: middle;
}

th {
    font-weight: bold;
}

.libraryMiniButton {
    height: auto;
    width: auto;
    background-color: black;
    border: 0.5rem ridge black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Metrics */

.metricsViewer {
    padding: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



