{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
    <div class="luckyView">
        <article class="luckyArticle">
            <h2>Behold the auspicious {{ number }} !</h2>
        </article>
    </div>
{% endblock %}
